[Unit]
Description=xrdp session manager
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/xrdp-sesman --nodaemon --config /etc/xrdp/sesman.ini
ExecStop=/usr/bin/xrdp-sesman --kill
Restart=on-failure

[Install]
WantedBy=multi-user.target
